
body{
  color: #FFF;
  background-color: black;
}

header{
  background-color: rgb(14, 14, 14);
  margin: 0% 0%;
  padding: 0% 0%;
  display: flex;
  justify-content: space-between;
}

main{
  display: flex;
  justify-content: space-around;
}

img{
  width: 25%;
  background-color: rgb(255, 0, 0);
  box-shadow: 0 10px 14px 0 rgb(255, 0, 0), 0 12px 24px 0 rgb(255, 0, 0);
}